.home-section{
    margin-top: 60px;
    
}

.product-container{
    display: flex;
    justify-content: space-around;
}

.product-info{
    width: 600px;
    margin-left: 110px;
    
    
}

.product-info p{
    font-size: 18px;
    line-height: normal;
    padding: 5px;
}

.picture img{
    width: 300px;
    height: 300px;
    margin-top: 20px;
    
}

.review-container {
   margin-left: 50px;

}
.review-heading {
    width: 400px ;
    text-align: center;
    margin-left: 400px;
    color: blueviolet;
    margin-top: 60px;
}
